<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <style>
        /* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Open+Sans&display=swap');
         */
        /* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Open+Sans&display=swap'); */
        /* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Open+Sans&display=swap'); */
        @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Open+Sans&family=Philosopher&display=swap');

        body {
            background: url('/assets/bg/1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            /* font-family: 'Kalam', cursive;
            font-family: 'Open Sans', sans-serif; */
            /* font-family: 'Kalam', cursive;
            font-family: 'Open Sans', sans-serif; */
            /* font-family: 'Kalam', cursive; */
            /* font-family: 'Open Sans', sans-serif; */
            font-family: 'Philosopher', sans-serif;
        }

        .addORedit,
        .table {
            background-color: rgba(255, 255, 255, 0.678);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid flex-row ">
            <a class="navbar-brand ms-5" href="#">
                <img src="/assets/bg/logo.png" width="50" class="img-thumbnail" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-4 " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="newFeature">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/add">Add Users</a>
                    </li>
                </ul>
                <div class="col-2"></div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <%= locals.message ? message :'log out' %>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                    </ul>
                  </div>
                    
            </div>
        </div>
    </nav>
    <!-- nav end -->